<!DOCTYPE html>
<html>
<head>
  <title>GST Invoicing</title>
  <meta charset='utf-8'>
  <meta name="description" content="AngularJS and Angular Code Example for creating Invoices and Invoicing Application">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  
  <script type="text/javascript" src="lib/angular-google-client.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</head>
<body ng-app="invoicing" ng-controller="InvoiceCtrl" >

          <div class="noPrint" ng-hide="printMode">
        <cm-google-sign-in click-handler='clickHandler' sign-in-listener='signInListener' user-listener='userListener' ng-if="!isSignedIn">
            <button type="button">Login</button>
        </cm-google-sign-in>
        <button type="button" ng-click="logout()" ng-if="isSignedIn">Logout</button>
        <button type="button" ng-click="disconnect()" ng-if="isSignedIn">Disconnect</button>
		<div ng-if="isSignedIn" style="margin-top: 20px">
          <div>Welcome {{user}}!</div>
		 </div> 
		</div>
  <div class="container" width="100%" id="invoice" >
    <div class="row">
      <div class="col-xs-12 heading" ><b>{{invoice.company_info.name}} </b>
      </div>
    </div>
    <div class="row branding">
	<div class="col-xs-3 logo-container">
        <input type="file" id="imgInp" />
        <img ng-hide="logoRemoved" id="company_logo" ng-src="{{ logo }}" alt="your image" width="100%" />
        <div>
          <div class="noPrint" ng-hide="printMode">
            <a ng-click="editLogo()" href >Edit Logo</a>
            <a ng-click="toggleLogo()" id="remove_logo" href >{{ logoRemoved ? 'Show' : 'Hide' }} logo</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="company_info_address_container">
        <div class="input-container"><input type="text" ng-model="invoice.company_info.name"/></div> 
        <div class="input-container"><input type="text" ng-model="invoice.company_info.address1"/></div>
        <div class="input-container"><input type="text" ng-model="invoice.company_info.address2"/></div>
        <div class="input-container"><input type="text" ng-model="invoice.company_info.address3"/></div>
        <div class="input-container"><input type="text" ng-model="invoice.company_info.phone"/></div>
        <div class="input-container"><input type="text" ng-model="invoice.company_info.gstid"/></div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="invoice-number-container">
          <label>Original for Receipient</label>
        </div>
      </div>
      
    </div> 
	<div class="row">
      <div class="col-xs-12 banner" ><b> Tax Invoice </b>
      </div>
    </div>
	
	<div class="row">
     <div class="col-xs-6 invoice-detail">
	  <div class="input-container">Invoice Number:<input type="text" id="invoice-number" class="invoice-detail" ng-model="invoice.invoice_number" /></div>
      </div>
	  <div class="col-xs-6 invoice-detail">
	  <div class="input-container">Transport Mode:<input type="text" class="invoice-detail" ng-model="invoice.transport_mode" /></div>
      </div> 
    </div>
	
	<div class="row">
     <div class="col-xs-6 invoice-detail">
	  <div class="input-container">Invoice Date: &nbsp;&nbsp;&nbsp;&nbsp;<input type="date" class="invoice-detail" ng-model="invoice.invoice_date" /></div>
      </div>
	  <div class="col-xs-6 invoice-detail">
	  <div class="input-container">Vehicle Number:<input type="text" class="invoice-detail" ng-model="invoice.vehicle_number" /></div>
      </div> 
    </div>
	
	<div class="row">
     <div class="col-xs-6 invoice-detail">
	  <div class="input-container">Reverse Charge:<input type="text" class="invoice-detail" ng-model="invoice.reverse_charge" /></div>
      </div>
	  <div class="col-xs-6 invoice-detail">
	  <div class="input-container">Date of Supply: &nbsp;&nbsp;&nbsp;&nbsp;<input type="date" class="invoice-detail" ng-model="invoice.supply_date" /></div>
      </div> 
    </div>
	
	<div class="row">
     <div class="col-xs-4 invoice-detail">
	  <div class="input-container">State<input type="text" class="invoice-detail" ng-model="invoice.state" /></div>
      </div>
     <div class="col-xs-2 invoice-detail">
	  <div class="input-container">Code<input type="text" class="invoice-detail smallcode" ng-model="invoice.state_code" /></div>
      </div>
	  <div class="col-xs-6 invoice-detail">
	  <div class="input-container">Place of Supply:<input type="text" class="invoice-detail" ng-model="invoice.supply_place" /></div>
      </div> 
    </div>
	<br/>
	
	<div class="row">
      <div class="col-xs-6 banner" >Bill to Party</div>
      <div class="col-xs-6 banner" >Ship to Party</div>
    </div>
	
	<div class="row">
     <div class="col-xs-6 invoice-detail">
	  <div class="input-container">Name:<input type="text" class="invoice-detail" ng-model="invoice.bill_name" /></div>
      </div>
	  <div class="col-xs-6 invoice-detail">
	  <div class="input-container">Name:<input type="text" class="invoice-detail" ng-model="invoice.ship_name" /></div>
      </div> 
    </div>
	
	<div class="row">
     <div class="col-xs-6 invoice-detail">
	  <div class="input-container">Address:&nbsp;&nbsp;<textarea type="text" class="invoice-detail" ng-model="invoice.bill_address" ></textarea></div>
      </div>
	  <div class="col-xs-6 invoice-detail">
	  <div class="input-container">Address:&nbsp;&nbsp;<textarea type="text" class="invoice-detail" ng-model="invoice.ship_address" ></textarea></div>
      </div> 
    </div>
	
	<div class="row">
     <div class="col-xs-6 invoice-detail">
	  <div class="input-container">GSTIN:<input type="text" class="invoice-detail" ng-model="invoice.bill_gstin" /></div>
      </div>
	  <div class="col-xs-6 invoice-detail">
	  <div class="input-container">GSTIN:<input type="text" class="invoice-detail" ng-model="invoice.ship_gstin" /></div>
      </div> 
    </div>
	
	<div class="row">
     <div class="col-xs-4 invoice-detail">
	  <div class="input-container">State<input type="text" class="invoice-detail" ng-model="invoice.bill_state" /></div>
      </div>
     <div class="col-xs-2 invoice-detail">
	  <div class="input-container">Code<input type="text" class="invoice-detail smallcode" ng-model="invoice.bill_state_code" /></div>
      </div>
     <div class="col-xs-4 invoice-detail">
	  <div class="input-container">State<input type="text" class="invoice-detail" ng-model="invoice.ship_state" /></div>
      </div>
     <div class="col-xs-2 invoice-detail">
	  <div class="input-container">Code<input type="text" class="invoice-detail smallcode" ng-model="invoice.ship_state_code" /></div>
      </div>
    </div>
	<br/> 
    <div class="items-table"> 
	<div class="row header">
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-5">Description</div>
        <div class="col-xs-2">Quantity</div>
        <div class="col-xs-2">Cost {{currencySymbol}}</div>
        <div class="col-xs-2 text-right">Total</div>
      </div>
     <!--   <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-1">S. No.</div>
        <div class="col-xs-2">Product Description</div>
        <div class="col-xs-2">HSN code</div>
        <div class="col-xs-2">UOM</div>
        <div class="col-xs-2">Qty</div>
        <div class="col-xs-2">Rate {{currencySymbol}}</div>
        <div class="col-xs-2">Amount {{currencySymbol}}</div>
        <div class="col-xs-2">Discount {{currencySymbol}}</div>   -->
		 
      <div class="row invoice-item" ng-repeat="item in invoice.items" ng-animate="'slide-down'">
        <div class="col-xs-1 remove-item-container">
          <a href ng-hide="printMode" ng-click="removeItem(item)" class="btn btn-danger">[X]</a>
        </div>
        <div class="col-xs-5 input-container">
          <input ng-model="item.description" placeholder="Description" />
        </div>
        <div class="col-xs-2 input-container">
          <input ng-model="item.qty" value="1" size="4" ng-required ng-validate="integer" placeholder="Quantity" />
        </div>
        <div class="col-xs-2 input-container">
          <input ng-model="item.cost" value="0.00" ng-required ng-validate="number" size="6" placeholder="Cost" />
        </div>
        <div class="col-xs-2 text-right input-container">
          {{item.cost * item.qty | currency: currencySymbol}}
        </div>
      </div>
      <div class="row invoice-item">
        <div class="col-xs-12 add-item-container" ng-hide="printMode">
          <a class="btn btn-primary" href ng-click="addItem()" >[+]</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 text-right">Sub Total</div>
        <div class="col-xs-2 text-right">{{invoiceSubTotal() | currency: currencySymbol}}</div>
      </div>
      <div class="row">
        <div class="col-xs-10 text-right">Tax(%): <input ng-model="invoice.tax" ng-validate="number" style="width:43px"></div>
        <div class="col-xs-2 text-right">{{calculateTax() | currency: currencySymbol}}</div>
      </div>
      <div class="row">
        <div class="col-xs-10 text-right">Grand Total:</div>
        <div class="col-xs-2 text-right">{{calculateGrandTotal() | currency: currencySymbol}}</div>
      </div>
    </div>
    <div class="row noPrint actions">
      <a href="#" class="btn btn-primary" ng-show="printMode" ng-click="printInfo()">Print</a>
      <a href="#" class="btn btn-primary" ng-click="clearLocalStorage()">Reset</a>
      <a href="#" class="btn btn-primary" ng-hide="printMode" ng-click="printMode = true;">Turn On Print Mode</a>
      <a href="#" class="btn btn-primary" ng-show="printMode" ng-click="printMode = false;">Turn Off Print Mode</a>
    </div>
  </div>

  <div ng-hide="printMode" class="copy noPrint"> 
    <a href="https://github.com/nsdevaraj/angular-invoicing">Metaware Labs Inc.</a>
  </div>
</body>
</html>
